@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: #050801;
  color: hsl(317, 100%, 54%);
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

a {
  margin: 50px;
}


/* first  */



/* second */

a {
  position: relative;
  display: inline-block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  overflow: hidden;
  margin-right: 50px;
}

a:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 100px #03e9f4;
  /* -webkit-box-reflect: below 1px linear-gradient(transform, black); */
}